@font-face {
	src: url(../fonts/Proxima/proxima-nova.ttf);
	font-family: proxima-nova;
}
body {
	font-family: proxima-nova;
	margin: 0;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0.25em;
	margin: 0;
	color: #EEF978;
}
h2 {
	text-transform: uppercase;
	color: #000;
	font-weight: 400;
	text-align: center;
}
h3 {
	text-align: center;
}
h4 {
	font-size: 1.2em;
}
.skills ul:nth-of-type(1)::after {
	color: #EEF978;
	position: absolute;
	top: 12%;
	left: 50%;
	content: '';
	border-bottom: solid 7em #EEF978;
	border-left: solid 5em transparent;
	border-right: solid 5em transparent;
	margin-right: .5em;
	width: 0;
	height: 0;
}
.skills ul:nth-of-type(2)::after {
	color: #fff;
	position: absolute;
	top: 12%;
	left: 65%;
	content: '';
	border-bottom: solid 7em #fff;
	border-left: solid 5em transparent;
	border-right: solid 5em transparent;
	width: 0;
	height: 0;
	margin-right: .5em;
}
.skills ul:nth-of-type(3)::after {
	margin-right: .5em;
	color: #000;
	position: absolute;
	top: 40%;
	left: 57.5%;
	content: '';
	border-bottom: solid 7em #000;
	border-left: solid 5em transparent;
	border-right: solid 5em transparent;
	width: 0;
	height: 0;
}
.hobbies-items h3 {
	margin: 0;
}
.hobbies h3:nth-of-type(1)::before {
	font-family: FontAwesome;
	content: "\f1e3";
	display: flex;
	justify-content: center;
	font-size: 3em;
	vertical-align: middle;
	padding-bottom: 0.5em;
}
.hobbies h3:nth-of-type(2)::before {
	font-family: FontAwesome;
	content: "\f072";
	display: flex;
	justify-content: center;
	font-size: 3em;
	vertical-align: middle;
	padding-bottom: 0.5em;
}
.hobbies h3:nth-of-type(3)::before {
	font-family: FontAwesome;
	content: "\f108";
	display: flex;
	justify-content: center;
	font-size: 3em;
	vertical-align: middle;
	padding-bottom: 0.5em;
}
.contact-items a {
	text-decoration: none;
	color: #000;
}
.contact-items a::before {
	font-family: FontAwesome;
	content: "\f098";
	display: inline-block;
	vertical-align: middle;
	padding-right: 0.2em;
}
.contact-items1 a {
	text-decoration: none;
	color: #000;
}
.contact-items1 a::before {
	font-family: FontAwesome;
	content: "\f082";
	display: inline-block;
	vertical-align: middle;
	padding-right: 0.2em;
}
.contact-items2 a {
	text-decoration: none;
	color: #000;
}
.contact-items2 a::before {
	font-family: FontAwesome;
	content: "\f2b6";
	display: inline-block;
	vertical-align: middle;
	padding-right: 0.2em;
}
.int-section h2:nth-child(n+3) {
	border-top: dotted 1px;
	padding: 1em;
}
.container {
	width: 60%;
	margin: 0 auto;
}
.int-section {
	background-color: #F2A55E;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}


/* header */

.picto a {
	margin: 0 0.5em;
}
header h2 {
	margin: 0;
	padding-bottom: 0.25em;
	color: #000;
}
header span {
	color: #EEF978;
}
header {
	display: flex;
	background-color: #AFAFAF;
	width: 100%;
	height: 20em;
	align-items: center;
}
.left-header {
	display: flex;
	width: 35%;
	background-image: url('../img/gd.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 12em;
}
.right-header {
	width: 65%;
}
.right-header h2 {
	text-align: center;
}
.img-logo {
	width: 14em;
}
.logo {
	display: flex;
	justify-content: center;
}
.picto {
	display: flex;
	justify-content: center;
}


/* header end */


/* left columns */

ul {
	list-style-type: none;
	padding: 0.3em;
}
.left-column {
	width: 20%;
	margin: 0 3em;
}
.left-column h4 {
	margin-top: 0;
	text-align: center;
}
.left-column h3 {
	color: #EEF978;
	font-weight: 700;
	margin: 2em;
}
.items-1-right {
	width: 49%;
	border-right: 0.1em solid;
	border-right-color: #000;
	padding: 1em 0;
	text-align: right;
}
.items-2-left {
	width: 49%;
	border-left: 0.1em solid;
	border-left-color: #000;
	padding: 1em 0;
	margin-left: 49%;
}


/* left column end*/


/* right column */

.right-column {
	width: 52%;
	margin: 0 3em;
	padding: 0 3em;
	border-left: dotted 1px;
}

.right-column span {
	color: #EEF978;
	font-weight: 400;
	font-size: 1.2em;
}
i.fab {
	color: #000;
}


/* diploms */

.diploms-items {
	display: flex;
	padding: 0.5em 0;
}

.d-items-2 h4,
p {
	margin: 0;
}

.d-items-2 {
	width: 85%;
}

.d-items-1 {
	width: 15%;
	text-align: left;
}


/* diploms end */


/* skills */

.skills ul {
	margin: 0;
}

.skills ul:nth-of-type(1) {
	color: #EEF978;
}

.skills ul:nth-of-type(2) {
	color: #fff;
}

.skills {
	position: relative;
	display: flex;
	align-items: center;
}

.skills-left {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	width: 40%;
}

.skills-right {
	width: 60%;
	text-align: center;
}

.skills-lang {
	display: flex;
	justify-content: center;
}

.skills-lang img {
	width: 3em;
}

.icons {
	padding: 20px 0;
}


/* skills end*/


/* hobbies */

.hobbies {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.hobbies img {
	width: 5em;
}


/* hobbies end */


/* contact */

.contact-items {
	display: flex;
	flex-direction: row;
}

.contact-items i {
	width: 40px;
}

.contact a {
	display: flex;
}

.contact-items a {
	text-decoration: none;
	color: #000;
}


/* contact end */


/* footer */

footer {
	margin: 2em 0 0 0;
	text-align: center;
}


/* responsive */

@media only screen and (max-width: 667px) {
	.container {
		width: 100%;
		margin: 0;
	}
	body {
		width: 100%;
	}
	h1 {
		font-size: 1.2em;
		letter-spacing: 0.25em;
		padding: 0.5em;
	}
	h2 {
		font-size: 1em;
	}
	header {
		flex-direction: column-reverse;
		justify-content: flex-end;
		height: 100vh;
	}
	.left-header {
		width: 100%;
		background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url('../img/gd.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 100vh;
	}
	.right-header {
		width: 100%;
	}
	.img-logo {
		width: 10em;
		padding: 1em;
	}
	.picto {
		padding: 1em;
	}
	.items-1-right {
		width: 100%;
		border-right: 0;
		padding: 1em 0;
		text-align: center;
	}
	.items-2-left {
		width: 100%;
		border-left: 0;
		padding: 1em 0;
		margin-left: 0;
		text-align: center;
	}
	.left-column h4 {
		font-size: 1em;
	}
	.right-column h4 {
		font-size: 1em;
	}
	.right-column {
		width: 50%;
		padding: 0 1.5em;
		margin: 0;
	}
	.left-column {
		width: 36%;
		margin: 0;
	}
	.left-column h3 {
		margin: 3em 0;
	}
	.right-column span {
		margin-left: 3.5em;
		text-align: center;
	}
	.diploms-items {
		display: block;
		text-align: center;
	}
	.skills ul::after {
		visibility: hidden;
	}
	.skills-right {
		display: none;
	}
	.skills-left {
		width: 100%;
		text-align: center;
	}
	.hobbies {
		display: block;
	}
	.hobbies img {
		width: 3em;
	}
	.hobbies h3 {
		margin: 0.2em;
	}
	.contact-items a:nth-child(2) {
		display: none;
	}
	.contact {
		display: flex;
		justify-content: space-around;
	}
	.contact p {
		display: none;
	}
	.contact a::before {
		font-size: 2.5em;
	}
	.contact-items i {
		width: 0;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.container {
		width: 100%;
	}
	.right-column {
		width: 55%;
		padding: 0 1.5em;
		margin: 0;
	}
	.left-column {
		width: 36%;
		margin: 0;
	}
	.d-items-1 {
		width: 20%;
	}
	p {
		font-size: 1em;
	}
	h1 {
		font-size: 1.5em;
	}
	h4 {
		font-size: 1em;
	}
	li {
		font-size: 1em;
	}
	.skills ul:nth-of-type(3)::after {
		top: 29%;
	}
	.skills ul:nth-of-type(2)::after {
		border-bottom: solid 6em #fff;
		border-left: solid 4em transparent;
		border-right: solid 4em transparent;
	}
	.skills ul:nth-of-type(1)::after {
		border-bottom: solid 6em #EEF978;
		border-left: solid 4em transparent;
		border-right: solid 4em transparent;
	}
	.skills ul:nth-of-type(3)::after {
		border-bottom: solid 6em #000;
		border-left: solid 4em transparent;
		border-right: solid 4em transparent;
	}
}
/*    4k      */
@media only screen and (min-width: 2000px) {
	.container {
		width: 70%;
		margin: 0 auto;
	}
	header {
		height: 50vh;
	}
	.left-header {
		height: 17em;
	}
	.img-logo {
		width: 20em;
	}
	h1 {
		font-size: 3em;
	}
	header h2 {
		padding-top: 0;
	}
	h2 {
		font-size: 2em;
		padding-top: 2em;
	}
	.fa-3x {
		font-size: 5em;
	}
	h3 {
		font-size: 1.8em;
	}
	h4 {
		font-size: 1.5em;
	}
	li {
		font-size: 1.5em;
	}
	.right-column span {
		font-size: 1.5em;
	}
	p {
		font-size: 1.3em;
	}
	.skills ul {
		padding: 1em 0;
	}
	.skills ul:nth-of-type(2)::after {
		border-bottom: solid 9em #fff;
		border-left: solid 6em transparent;
		border-right: solid 6em transparent;
	}
	.skills ul:nth-of-type(1)::after {
		border-bottom: solid 9em #EEF978;
		border-left: solid 6em transparent;
		border-right: solid 6em transparent;
	}
	.skills ul:nth-of-type(3)::after {
		border-bottom: solid 9em #000;
		border-left: solid 6em transparent;
		border-right: solid 6em transparent;
	}
	.right-column {
		width: 55%;
		padding: 0 3em;
		margin: 0;
	}
	.left-column {
		width: 36%;
		margin: 0;
	}
}


/*responsive*/