@font-face {
	src: url(../fonts/Proxima/proxima-nova.ttf);
	font-family: proxima-nova;
}

body{
	margin: 0;
	font-family: proxima-nova;
}
.container{
	width: 60%;
	margin: 0 auto;

}
h1 span{
	color: burlywood;
	font-weight: bolder;
}
h3 span {
	border-bottom: 2px solid burlywood;
}
ul{
	list-style-type: none;
	padding: 0;
}
h1{
	margin-bottom: 0;
	font-weight: 300;
	text-transform: uppercase;
}
/* header */
header {
	display: flex;
}
header h3{
	margin-top: 0.5em;
	font-size: 1.4em;
}
.photo img{
	height : 10em;
	width: 10em;
	align-self: center;
	justify-content: center;
	margin: 0 auto;
	border: 2px solid yellow;
}
.picture{
	overflow:hidden;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.photo {
	width: 30%;
	text-align: center;
	background-color: burlywood;
	height: 300px;
	display: flex;
}
.header-right{
	display: flex;
	width: 70%;
	flex-direction: column;
	justify-content: center;
	margin: 0 3em;
}
/* header */
/* center */
.items-center{
	display: flex;
}
.contact{
	width: 30%;
	background-color: burlywood;
	
}
.contact ul{
	margin-left: 2em;
}
.contact h2{
	background-color: black;
	color: burlywood;
	margin-top: 0;
	text-align: center;
	padding: 0.3em 0;
	text-transform: uppercase;
}
.Formation p{
	text-align: justify;
}
.Formation{
	width: 70%;
	margin: 0 3em;
}
.Formation h2{
	margin-top: 0;
	text-transform: uppercase;
	border-bottom: solid 2px burlywood;
	padding-bottom: 0.3em;
}
.Formation h2::before {
	font-family: FontAwesome;
	content: "\f19d";
	justify-content: center;
	font-size: 1.4em;
	margin-right: 1em;
	color: burlywood;
}
.Formation .items1  ul li:first-child::before , .expe-pro .items1  ul li:first-child::before  {
   content: '';
   display: inline-block;
   width: 10px;
   height: 10px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 50%;
   background-color: burlywood;
   border: 2px solid burlywood;
   box-shadow: inset 0 0 0 2px white;
   margin-right: 0.3em;
}
.Formation .items3  ul li:first-child::before , .expe-pro .items3  ul li:first-child::before{
	content: '';
   display: inline-block;
   width: 10px;
   height: 10px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 50%;
   background-color: burlywood;
   margin-right: 0.3em;

}
.Formation .items3  ul li:nth-child(2n+2) , .Formation .items1  ul li:nth-child(2n+2){
	padding-left: 1em;
}
.expe-pro .items3  ul li:nth-child(2n+2) , .expe-pro .items1  ul li:nth-child(2n+2){
	padding-left: 1em;
}
.F-items{
	display: flex;
}
.items1{
	width: 30%;
}
.items2{
	width: 70%;
}
.items3{
	width: 30%;
}
.bottom-center{
	display: flex;
}
.about-me{
	width: 30%;
	background-color: burlywood;
}
.about-me h2{
	background-color: black;
	color: burlywood;
	margin-top: 0;
	text-align: center;
	padding: 0.3em 0;
	text-transform: uppercase;
}
.about-me p{
	margin: 0 2em;	
	text-align: justify;
}
.expe-pro p{
	text-align: justify;
}
.expe-pro{
	width: 70%;
	margin: 0 3em;
}
.expe-pro h2::before {
	font-family: FontAwesome;
	content: "\f0f2";
	justify-content: center;
	font-size: 1.4em;
	margin-right: 1em;
	color: burlywood;
	
}
.expe-pro h2{
	text-transform: uppercase;
	border-bottom: solid 2px burlywood;
	padding-bottom: 0.3em;
}
/* center */
/* bottom */
.bottom {
	display: flex;
}
.loisir {
	width: 30%;
	background-color: burlywood;
	display: flex;
	flex-direction: column;
	
}
.loisir h2{
	background-color: black;
	color: burlywood;
	margin-top: 0;
	text-align: center;
	padding: 0.3em 0;
	text-transform: uppercase;
}
.rec {
	width: 70%;
	margin: 0 3em;
}
.rec h2{
	text-transform: uppercase;
	border-bottom: solid 2px burlywood;
	padding-bottom: 0.3em;
}
.rec h2::before {
	font-family: FontAwesome;
	content: "\f303";
	justify-content: center;
	font-size: 1.4em;
	margin-right: 1em;
	color: burlywood;
	
	
}
.d-items{
	display: flex;
	
}
.d-items1{
	width: 50%;
}
.logo img{
	height: 4em;
	
}
.logo {
	
	display: flex;
	margin: 0 2em;
	justify-content: space-around;
	
}